body {
}

.fill {
    width: 100%;
    height: 100%;
    background-color: #eaedf1;
    margin: 0;
    overflow: hidden;
}


.dockTop {
    /*桌面顶部 #373d41*/
    background-color: #373d41;
    height: 2em;
}

    .dockTop .topbtn1 {
        color: white;
        text-decoration: none;
        margin-left: 0.25em;
    }

    .dockTop .text1 {
        color: white;
        margin-left: 0.25em;
        line-height: 1.1em;
        vertical-align: middle;
        display: inline-block;
        height: 2em;
    }

.dockDown {
    /*桌面底部 #373d41*/
    background-color: #373d41;
    height: 2em;
    position: absolute;
    bottom: 0;
    width: 100%;
}

    .dockDown .topbtn1 {
        color: white;
        text-decoration: none;
        line-height: 2em;
        margin-left: 0.5em;
    }




.desktopIcon {
    list-style: none;
    columns: 10em;
    height: 30em;
    width: 7em;
}

    .desktopIcon .item {
        /*桌面图标 #00c1de*/
        width: 7em;
        height: 7em;
        background-color: #00c1de;
        display: block;
        text-align: right;
        vertical-align: bottom;
        text-decoration: none;
        margin: 0 0 0.5em 0;
    }

        .desktopIcon .item .icon {
            width: 100%;
            line-height: 2em;
            text-align: center;
            color:white;
        }
    .desktopIcon .item_name {
        position: relative;
        top: -0.5em;
        right: 0.5em;
        color: white;
    }



.desktop_dialog {
    width: 80%;
    height: 90%;
    position: absolute;
    z-index: 2000;
    border: 1px #808080 solid;
    background-color: #ff9900;
}

    .desktop_dialog .title {
        width: 100%;
        height: 2em;
        background-color: #373d41;
    }

        .desktop_dialog .title .name {
            color: #FFF;
            text-decoration: none;
            float: left;
            height: 100%;
            vertical-align: middle;
            line-height: 200%;
            margin-left: 0.5em;
        }

        .desktop_dialog .title .button {
            color: #FFF;
            text-decoration: none;
            float: right;
            height: 100%;
            vertical-align: middle;
            text-align: center;
            line-height: 200%;
            width: 4em;
        }

    .desktop_dialog iframe {
        position: absolute;
        left: 0;
        top: 2em;
        right: 0;
        bottom: 0;
    }


.startmenu {
    position: absolute;
    background-color: #2a2f32;
    width: 23em;
    height: 80%;
    z-index: 999;
    left: 0.5em;
    bottom: 2em;
    overflow-x: hidden;
    overflow-y: scroll;
    display:none;
}

    .startmenu ul {
        list-style: none;
        margin: 1em 0 0 -1em;
    }

    .startmenu a {
        text-decoration: none;
        color:white;
        display:block;
        width:100%;
        height:3em;
    }

    .startmenu li span:first-child {
        margin-right:.5em;
    }